pkgbase = grok-bot-bin
	pkgdesc = Grok Bot desktop agent (unofficial Arch package of the official Linux .deb)
	pkgver = 0.56.1
	pkgrel = 1
	url = https://github.com/ATLTuck/unofficial-grok-bot-arch-installer
	arch = x86_64
	license = custom:unknown
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = util-linux-libs
	depends = libsecret
	optdepends = libappindicator: system tray icon support
	provides = grok-bot
	conflicts = grok-bot
	noextract = grok-bot_0.30.0_amd64.deb
	options = !debug
	options = !strip
	source = https://downloads.cursor.com/grokbot/stable/b938fe7791be84ce088d4a9a95332601710ba469/linux/x64/grok-bot_0.56.1_amd64.deb
	sha256sums = fb768b440ccb7cc4b4ec656f5d9f00aed48c078325c7744602eb89602879a597

pkgname = grok-bot-bin
