pkgbase = grok-bot-bin
	pkgdesc = Grok Bot desktop agent (unofficial Arch package of the official Linux .deb)
	pkgver = 0.44.0
	pkgrel = 1
	url = https://github.com/ATLTuck/unofficial-grok-bot-arch-installer
	arch = x86_64
	license = custom:unknown
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = util-linux-libs
	depends = libsecret
	optdepends = libappindicator: system tray icon support
	provides = grok-bot
	conflicts = grok-bot
	noextract = grok-bot_0.30.0_amd64.deb
	options = !debug
	options = !strip
	source = https://downloads.cursor.com/grokbot/stable/12dcfa973ef51585fd1b35df6839fc9d1d7fd6aa/linux/x64/grok-bot_0.44.0_amd64.deb
	sha256sums = dded18b2d3d44b1c32d6b9f63446d2b27bca68b3de7a2aa028ce7956e9694164

pkgname = grok-bot-bin
