pkgbase = grok-bot-bin
	pkgdesc = Grok Bot desktop agent (unofficial Arch package of the official Linux .deb)
	pkgver = 0.36.0
	pkgrel = 1
	url = https://github.com/ATLTuck/unofficial-grok-bot-arch-installer
	arch = x86_64
	license = custom:unknown
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = util-linux-libs
	depends = libsecret
	optdepends = libappindicator: system tray icon support
	provides = grok-bot
	conflicts = grok-bot
	noextract = grok-bot_0.30.0_amd64.deb
	options = !debug
	options = !strip
	source = https://downloads.cursor.com/grokbot/stable/9465f3ae75550511296fabbb7a4b6fc8afe9e408/linux/x64/grok-bot_0.36.0_amd64.deb
	sha256sums = 948b4177667d9a03915c1aee497e7c5438705393da8083a6af0177288512d07e

pkgname = grok-bot-bin
